// Global variables
@import 'variables.less';
// normalize css
@import 'vendor/normalize.less';
// grid
@import 'grid.less';
// grid
@import 'font.less';
@import 'vendor/jquery.fullPage';

@import 'button.less';
@import 'header.less';
@import "navigation";
@import 'landing.less';
@import "infographic";
@import "progress";

.section {
  padding-top: 30px;
}

img.responive-img {
  width: 100%;
  height: auto;
}


/*arpa*/

#arpa-img {
  transform: rotate(20deg);
  width: 75%;
}

/*video*/

.video-wrapper {
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 56.27198%;
  top: 30px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
}

.infographic img{
  width: 75%;
}