/*! Grid system */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-container {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.section-2 {
	.section-container();
	width: 100%;
}

.section-2 {
	.section-container();
	width: 50%;
}

.section-4 {
	.section-container();
	width: 33.33333333%;
}